In [1]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib
import platform
if platform.system() == 'Windows':
    matplotlib.rc('font', family='Malgun Gothic')
elif platform.system() == 'Darwin':  # Mac
    matplotlib.rc('font', family='AppleGothic')
else:
    matplotlib.rc('font', family='NanumGothic')
plt.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐방지

In [2]:
df = pd.read_csv('datasets/shootings.csv', index_col=False)
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [3]:
df['race'].values[:10]

array(['Asian', 'White', 'Hispanic', 'White', 'Hispanic', 'White',
       'Hispanic', 'White', 'White', 'Black'], dtype=object)

In [4]:
temp = []
y = df['race'].values.tolist()
for i in y:
    if i == 'White':
        temp.append(0)
    elif i == 'Black':
        temp.append(1)
    else:
        temp.append(2)
y = temp
y = np.array(y)
y

array([2, 0, 2, ..., 0, 0, 0])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4895 entries, 0 to 4894
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       4895 non-null   int64
 1   name                     4895 non-null   object
 2   date                     4895 non-null   object
 3   manner_of_death          4895 non-null   object
 4   armed                    4895 non-null   object
 5   age                      4895 non-null   float64
 6   gender                   4895 non-null   object
 7   race                     4895 non-null   object
 8   city                     4895 non-null   object
 9   state                    4895 non-null   object
 10  signs_of_mental_illness  4895 non-null   bool
 11  threat_level             4895 non-null   object
 12  flee                     4895 non-null   object
 13  body_camera              4895 non-null   bool
 14  arms_category            4895 non-null   object
dtypes: bool(2), float64(1), int64(1), object(11)
memory usage: 506.8+ KB

In [6]:
nums = ['id', 'age']
X = df.drop(nums, axis=1)
X.head()

,name,date,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,Tim Elliot,2015-01-02,shot,gun,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,Lewis Lee Lembke,2015-01-02,shot,gun,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,Matthew Hoffman,2015-01-04,shot,toy weapon,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,Michael Rodriguez,2015-01-04,shot,nail gun,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [7]:
X = pd.get_dummies(X)
X.head()

,signs_of_mental_illness,body_camera,name_ Austin Wilburly Reid,name_A'Donte Washington,name_A.B. Carr,name_Aaron Allen Przekop,name_Aaron Bailey,name_Aaron Clifford Fike,name_Aaron Demonta Fleming,name_Aaron Hong,...,arms_category_Explosives,arms_category_Guns,arms_category_Hand tools,arms_category_Multiple,arms_category_Other unusual objects,arms_category_Piercing objects,arms_category_Sharp objects,arms_category_Unarmed,arms_category_Unknown,arms_category_Vehicles
0,True,False,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,False,False,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,False,False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,True,False,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,False,False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [8]:
X = pd.concat([X, df[nums]], axis=1)
X.head()

,signs_of_mental_illness,body_camera,name_ Austin Wilburly Reid,name_A'Donte Washington,name_A.B. Carr,name_Aaron Allen Przekop,name_Aaron Bailey,name_Aaron Clifford Fike,name_Aaron Demonta Fleming,name_Aaron Hong,...,arms_category_Hand tools,arms_category_Multiple,arms_category_Other unusual objects,arms_category_Piercing objects,arms_category_Sharp objects,arms_category_Unarmed,arms_category_Unknown,arms_category_Vehicles,id,age
0,True,False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,53.0
1,False,False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,47.0
2,False,False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,5,23.0
3,True,False,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,8,32.0
4,False,False,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,9,39.0

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4895 entries, 0 to 4894
Columns: 9104 entries, signs_of_mental_illness to age
dtypes: bool(2), float64(1), int64(1), uint8(9100)
memory usage: 42.6 MB

In [10]:
tmp = []
for i in X['signs_of_mental_illness']:
    if i and True:
        tmp.append('1')
    else:
        tmp.append('0')
X['signs_of_mental_illness'] = tmp

del tmp [:]
for i in X['body_camera']:
    if i and True:
        tmp.append(1)
    else:
        tmp.append(0)
X['body_camera'] = tmp
X.head()

,signs_of_mental_illness,body_camera,name_ Austin Wilburly Reid,name_A'Donte Washington,name_A.B. Carr,name_Aaron Allen Przekop,name_Aaron Bailey,name_Aaron Clifford Fike,name_Aaron Demonta Fleming,name_Aaron Hong,...,arms_category_Hand tools,arms_category_Multiple,arms_category_Other unusual objects,arms_category_Piercing objects,arms_category_Sharp objects,arms_category_Unarmed,arms_category_Unknown,arms_category_Vehicles,id,age
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,53.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,47.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,5,23.0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,8,32.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,9,39.0

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X[nums] = scaler.fit_transform(X[nums])
X[nums]

            id       age
0     0.000000  0.552941
1     0.000169  0.482353
2     0.000338  0.200000
3     0.000844  0.305882
4     0.001013  0.388235
...        ...       ...
4890  0.998480  0.247059
4891  1.000000  0.200000
4892  0.998818  0.223529
4893  0.999325  0.188235
4894  0.999831  0.294118

[4895 rows x 2 columns]

In [12]:
X.head()

,signs_of_mental_illness,body_camera,name_ Austin Wilburly Reid,name_A'Donte Washington,name_A.B. Carr,name_Aaron Allen Przekop,name_Aaron Bailey,name_Aaron Clifford Fike,name_Aaron Demonta Fleming,name_Aaron Hong,...,arms_category_Hand tools,arms_category_Multiple,arms_category_Other unusual objects,arms_category_Piercing objects,arms_category_Sharp objects,arms_category_Unarmed,arms_category_Unknown,arms_category_Vehicles,id,age
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,0.552941
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000169,0.482353
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0.000338,0.200000
3,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0.000844,0.305882
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0.001013,0.388235

In [13]:
X.shape

(4895, 9104)

In [14]:
X_data = X.values[:]
X_data

array([['1', 0, 0, ..., 0, 0.0, 0.5529411764705883],
       ['0', 0, 0, ..., 0, 0.00016886187098953058, 0.48235294117647065],
       ['0', 0, 0, ..., 0, 0.00033772374197906115, 0.19999999999999998],
       ...,
       ['0', 0, 0, ..., 0, 0.9988179669030733, 0.2235294117647059],
       ['0', 0, 0, ..., 0, 0.999324552516042, 0.18823529411764703],
       ['0', 0, 0, ..., 0, 0.9998311381290105, 0.2941176470588235]],
      dtype=object)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
X_data, y, test_size=0.1, random_state=42)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((4405, 9104), (4405,), (490, 9104), (490,))

In [16]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [17]:
y_pred = knn.predict(X_test)
y_pred

array([2, 1, 2, 0, 2, 1, 2, 1, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2,
       2, 0, 2, 0, 2, 0, 0, 1, 1, 0, 2, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 2,
       2, 0, 0, 2, 2, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0, 2, 0, 0, 2, 2, 1, 0,
       1, 0, 0, 2, 1, 0, 1, 0, 2, 0, 0, 1, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 2, 0, 1, 2, 2, 0, 0, 0, 1, 0,
       2, 0, 1, 2, 0, 0, 1, 2, 1, 0, 0, 0, 2, 2, 1, 0, 2, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 2, 2, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 2, 1, 0, 2,
       0, 0, 1, 1, 0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 2, 0, 1, 1,
       0, 0, 1, 0, 2, 0, 1, 2, 0, 0, 1, 0, 0, 2, 2, 0, 0, 1, 0, 0, 2, 0,
       0, 2, 1, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 2, 1, 2, 0, 1, 1, 0, 2, 0, 0,
       0, 1, 2, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 2, 0, 2, 0, 1, 0, 0, 0, 1,
       0, 2, 1, 1, 2, 1, 1, 0, 1, 2, 0, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 2,
       0, 1, 2, 0, 1, 2, 0, 0, 2, 1, 0, 2, 0, 0, 0, 2, 1, 1, 1, 1, 0, 1,
       0, 2, 0, 1, 2, 0, 1, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 0, 1, 2, 1, 2,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 2, 0, 0, 1, 2, 0, 0,
       2, 1, 0, 2, 2, 1, 1, 0, 0, 2, 0, 0, 1, 0, 2, 1, 2, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 2, 1, 0, 0, 0, 0, 2, 2, 0, 1, 0, 0, 1, 0, 2, 1, 1, 0,
       1, 0, 2, 0, 0, 0, 1, 2, 2, 0, 1, 0, 1, 1, 0, 0, 1, 0, 2, 1, 0, 1,
       0, 0, 1, 0, 0, 2, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 2, 1, 0, 1, 2, 1,
       0, 0, 1, 0, 2, 0, 0, 0, 2, 0, 0, 1, 0, 1, 0, 2, 1, 2, 1, 1, 0, 0,
       2, 1, 0, 0, 0, 1])

In [18]:
y_pred == y_test

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [19]:
knn.score(X_test, y_test)

0.9571428571428572

In [20]:
%%time
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors':[1, 2, 3, 4, 5]}
grid = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5)
grid.fit(X_train, y_train)
print("best parameter:", grid.best_params_)
print("cross val acc: {:.2f}".format(grid.best_score_))
print("best acc: {:.2f}".format(grid.score(X_test, y_test)))

best parameter: {'n_neighbors': 5}
cross val acc: 0.97
best acc: 0.97
CPU times: user 18min, sys: 4.11 s, total: 18min 4s
Wall time: 18min 4s